* {
    font-family:"montserrat",sans-serif;
    margin:0;
    padding:0;
}

:root {
  --bg-first:#5D5FEF;
  --bg-second:#F6F7FB;
  --bg-jumbotron:#F6F7FB;
  --secondary:#737373;
  --btn-hovered:#5457EE;
  --title:#343a40;
  --white:#ffffff;
}
.navbar-nav {
    font-size: 20px;
    font-weight: 500;
}

.logo {
    background-color: var(--bg-first);
    color:var(--white);
    width:50px;
    height:50px;
    border-radius:10px;
}

.bg-firt  {
    background-color: var(--bg-first);
}

.bg-second {
    background-color: var(--bg-second);
}

.secondary {
    color:var(--secondary);
}

.hubungi {
    border-radius:15px;
}

.hubungi:hover, .hubungi:active, .hubungi:visited {
    background-color: var(--btn-hovered); 
}

.jumbotron {
    padding: 2rem 1rem;
    background-color: var(--bg-jumbotron);
    border-radius:.3rem;
    padding-bottom:217px;
}

.description {
    font-size:28px;
    font-weight:300;
}

.profile-picture {
    width: 398px;
    height:398px;
    margin-top:200px;
}

.btn-primary {
    background-color:var(--bg-first);
    border-radius:20px;
    width:200px;
    height:70px;
    font-weight:500;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: var(--btn-hovered);
}

.title-1 {
    font-size:60px;
    color:var(--title);
}

.hr-1, .hr-2, .hr-3 {
    background: var(--bg-first);
    width:142px;
    margin-bottom:30px;
}

.hr-1 {
    margin-top:200px;
}

.hr-2 {
    margin-top:70;
}

#quote-container{
    background-color: var(--btn-hovered);
}

#quate {
    font-size: 30px;
    max-width: 1300px;

}

.title-2 {
    font-size: 40px;
    color:var(--title);
    font-weight:700;
}
#skill-main-container{
    max-width: 1300px;
}

#skill-picture {
    height: auto;
    width:100%;
    border-radius:25px;
}

.skill-item-picture {
    width: 53px;
}

.skill-title {
    font-size:25px;
    font-weight:400;
    margin:0;
}

.card {
    width: 300px;
    padding-bottom:100px;
    justify-content: center;
    align-items:center
}

.pengalaman img{
    height:230px;
    width:350px;
    object-fit:cover;
    border-radius:10%;
}
.card-body {
    margin-top:10px;
    align-items:center;
}

.card-title {
    font-size: 1.5em;
    font-weight:bold;
}

.card-text {
    font-size: 1.1em;
    font-weight:lighter;
}

footer {
    background: #343a40;
    color: white;
    font-size: 1.25em;
    padding-top:25px;
    padding-bottom:15px;
    display:block;
}

a img {
    width:60px;
    padding-left:20px;
}